body{
  padding: 20px;
  margin: 10px;
  background-image:url('bc.jpg');
  height:10034px;
  
}

.left{
  border:6px solid yellow;
  display: inline-block;
  position: absolute;
  left:5px;
  background-color: black;
  border-radius: 10px;
  width:60%;
  
  
  
}
.right{
  margin:7px;
  display: inline-block;
  position: relative;
  right:30px;
  background-color: black;
  border-radius:9px;
  top: 10px;
  
}

#logo{height:30px;
width: 30px;
}

.class_ul li{
  text-decoration: none;
  display: inline-block;
  margin: 7px;
}


.class_ul li a{text-decoration: none;
  color: white;
  text-align: center;
}

.nav_search{
  margin:5px 8px;
}

#search{width:80px;}

.div_h1{height:20px;
  background-image: linear-gradient(cyan, yellow);
  display: inline-block;
  width: 70%;
  border-radius:15px;
  margin:18px;
}

#div_form{
    display: inline-block;
 background-image: linear-gradient(cyan, yellow);
  border-radius:15px;
  margin:18px;
  width:70%;
}

#div_form input{
  margin:7px;
  border-radius:10px;
  border: 1px solid cyan;
  display: block;
}
